<%- include('include/header'); %>
<h1>Add Product</h1>
<form action="/users/add" method="POST">
    <div>
        <label for="">Product</label>
        <input type="text" name="name" placeholder="Enter your product name">
    </div>
    <div>
        <label for="">Color</label>
        <input type="email" name="email" placeholder="Enter your product color">
    </div>
    <div>
        <label for="">Brand</label>
        <input type="password" name="password" placeholder="Enter your product brand">
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>

</body>
</html>