<%- include('include/header'); %>
<h1>Home</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Image</th>
            <th>Description</th>
            <th>Category</th>
            <th>Availible Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>
                    <p>LED</p>
                </td>
                <td>
                    <img src="/static/images/led.webp">
                </td>
                <td>
                    <p>uhdiudid</p>
                </td>
                <td>
                    <p>Electric</p>
                </td>
                <td>
                    <p>8</p>
                </td>
                <td>
                    <div class="edit-btn">
                        <a href="http://localhost:8080/products/update" class="edit">Edit</a>
                    </div>
                    <div class="edit-btn">
                        <a href="http://localhost:8080/delete" class="edit">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="add-btn">
        <a href="http://localhost:8080/products/add" class="add">Add</a>
    </div>

</body>
</html>