<%- include('include/header'); %>
<h1>Home</h1>
<table >
    <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Product</th>
            <th>Description</th>
            <th>Category</th>
            <th>Availible Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    LED
                </td>
                <td>
                    <img src="/static/images/led.webp">
                </td>
                <td>
                    uhdiudid
                </td>
                <td>
                    Electric
                </td>
                <td>
                    8
                </td>
                <td>
                    <a href="http://localhost:8080/products/update/>" class="edit"
                        data-toggle="modal">Edit</a>
                    <a href="http://localhost:8080/delete>" class="delete">Delete</i></a>
                </td>
            </tr>

    </tbody>
</table>
</html>

</body>
</html>